.section-concrete-bar {
    opacity: 0;
    visibility: hidden;
    background-color: #000000;
    height: 100%;
    width: 100%;

    .layer{
        position: absolute;
        opacity: 0.4;
        visibility: hidden;
        background-color: #000000;
        height: 100%;
        width: 100%;

        .title{
            text-align: center;
            visibility: hidden;
            font-family: Coda;
            font-size: 40px;
            color: #e5c100;
            text-shadow: 3px 1px 30px #969627;
        }
    }

    .close-icon{
        position: absolute;
        visibility: hidden;
        background: url('images/close-icon.png');
        height: 50px;
        width: 50px;
        right: 30px;
        top: 30px;
        background-size: contain;
        cursor: pointer;
    }

    .concrete-bar-title{
        visibility: hidden;
        color: white;
        position: absolute;
        text-align: center;
        width: 100%;
        font-family: Calligraffitti;
        font-size: 80px;
        z-index: 10;
        font-style: normal;
        font-variant: normal;
        font-weight: 500;
        line-height: 26.4px;
        top: 50px;
    }

    .concrete-bar-title-num{
        font-family: Coda;
        font-size: 50px;
        color: #e5c100;
        text-shadow: 3px 1px 30px rgba(150, 150, 39, 1);
    }

    .temperatureChart{
        position: absolute;
        visibility: hidden;
        z-index: 100;
        background-color: white;
        margin: auto;
        right: 0;
        left: 0;
        bottom: 0;
        top: 0;
        width: 75%;
        height: 50%;
    }

}