.section-home {
    
    background-color: #000000;
  
    .home-title{
    visibility: hidden;
    color: white;
    position: absolute;
    text-align: center;
    width: 100%;
    font-family: Calligraffitti;
    font-size: 80px;
    z-index: 10;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
    top: 40px;
    }

    .home-title-num{
        font-family: Coda;
        font-size: 50px;
        color: #e5c100;
        text-shadow: 3px 1px 30px rgba(150, 150, 39, 1);
    }

}