<div class="section-coffee-cup">
  <div class="layer">
    <h1 class="title"></h1>
  </div>
  <div class="close-icon"></div>
  <div class="coffee-cup-title">
    <span class="coffee-cup-title-sub">Taza de</span>
    <span class="coffee-cup-title-num">CAFÉ</span>
  </div>
</div>
