<div class="section-concrete-bar">
  <div class="layer">
    <h1 class="title"></h1>
  </div>
  <div class="close-icon"></div>
  <div class="concrete-bar-title">
    <span class="concrete-bar-title-sub">Barra de</span>
    <span class="concrete-bar-title-num">HORMIGÓN</span>
  </div>
</div>