<div class="section-coffee-cup">
  <div class="layer"></div>
  <div class="close-icon"></div>
  <div class="coffee-cup-title">
    <span class="coffee-cup-title-cafe">Barra de</span>
    <span class="coffee-cup-title-num">HORMIGÓN</span>
  </div>
  <canvas class="temperatureChart" width="400" height="400"></canvas>
</div>