<div class="ui-home">
  <div class="home-title">
    <span class="home-title-cafe">Café</span>
    <span class="home-title-num">NUMÉRICO</span>
  </div>
  <div class="control-panel">
    <button class="generic-button button-add-cafe" type="button">Add Cafe!</button>
    <button class="generic-button button-temperature" type="button">Calculate temperature</button>
    <div class="credits">
      <span class="credits-title">By</span>
      </br>
      <span class="credits-name">Máximo Belén</span>
      </br>
      <span class="credits-name">Manuel Alonso</span>
    </div>
  </div>
  <div class="canvas-container"></div>
  <div class="thermometer">
     <span class="degrees">0</span>
     <span class="messure">ºC</span>
  </div>
</div>
