<div class="ui-concrete-bar-control-panel">
  <div class="home-button"></div>
  <form class='point-form'>
    VALOR DE X:<br>
    <input class='x-value' type="number" name="0 a 1O" >
    <br>
    VALOR DE Y:<br>
    <input class='y-value' type="number" name="y" >
    <br>
    VALOR DE Z:<br>
    <input class='z-value' type="number" name="z" >
    <br>
    TIEMPO:<br>
    <input class='t-value' type="number" name="time">
    <br><br>
    <button class="generic-button button-temperature" type="button">Calcular Temperatura</button>
  </form>
 
  <div class="credits">
    <span class="credits-title">By</span>
    </br>
    <span class="credits-name">Máximo Belén</span>
    </br>
    <span class="credits-name">Manuel Alonso</span>
  </div>
</div>