<div class="ui-concrete-bar-control-panel">
  <div class="home-button"></div>
  <form class='point-form'>
    X VALUE:<br>
    <input class='x-value' type="text" name="0 a 1O" >
    <br>
    Y VALUE:<br>
    <input class='y-value' type="text" name="y" value="0 a 5">
    <br>
    Z VALUE:<br>
    <input class='z-value' type="text" name="z" value="0 a 2">
    <br>
    TIME VALUE:<br>
    <input class='t-value' type="text" name="time" value="10">
    <br><br>
    <button class="generic-button button-temperature" type="button">Calculate Temperature</button>
  </form>
 
  <div class="credits">
    <span class="credits-title">By</span>
    </br>
    <span class="credits-name">Máximo Belén</span>
    </br>
    <span class="credits-name">Manuel Alonso</span>
  </div>
</div>