<div class="ui-coffee-cup-control-panel">
  <button class="generic-button button-add-cafe" type="button">Add Cafe!</button>
  <button class="generic-button button-temperature" type="button">Calculate temperature</button>
  <div class="credits">
    <span class="credits-title">By</span>
    </br>
    <span class="credits-name">Máximo Belén</span>
    </br>
    <span class="credits-name">Manuel Alonso</span>
  </div>
</div>